@font-face {
    font-family: "myfonts";
    src: url('LXGWWenKai-Regular.ttf');
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: "myfonts";
    src: url("JetBrainsMono-Regular.ttf");
    unicode-range: U+00-024F
}

:root {
    --md-text-font: "myfonts";
    --md-code-font: "myfonts";
}