/* 图片放大start */
.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.zoom {
    transition: transform ease-in-out 0.5s;
    cursor: zoom-in;
}

.image-zoom-large {
    transform: scale(1.9);
    cursor: zoom-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
    position: relative;
}

/* 图片放大end*/

@font-face {
    font-family: "JetBrains Mono";
    src: url("./fonts/JetBrainsMono-Regular.eot");
    src: url("./fonts/JetBrainsMono-Regular.eot?#iefix") format("embedded-opentype"),
        url("./fonts/JetBrainsMono-Regular.woff2") format("woff2"),
        url("./fonts/JetBrainsMono-Regular.woff") format("woff"),
        url("./fonts/JetBrainsMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }


:root {
    --md-text-font: "JetBrains Mono", "LXGW WenKai Screen";
    --md-code-font: "JetBrains Mono";
}